<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <% if list_completed?(list) %>
      <li class="complete">
    <% else %>
      <li>
    <% end %>
    <a href="/lists/<%= index %>">
      <h2><%= list[:name] %></h2>
      <p><%= total_tasks_completed(list) %>/<%= list[:todos].size %></p></li>
    </a>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">Create New List</a>
<% end %>