<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <%= display_list(list, index) if !list_complete?(list) %>
  <% end %>
  <% @lists.each_with_index do |list, index| %>
    <%= display_list(list, index) if list_complete?(list) %>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">Create New List</a>
<% end %>